<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--[if lte IE 8]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <![endif]-->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
